<nav class="navbar navbar-expand-md navbar-light" style="background-color: #E77500;">
<div class="container-fluid">
    <a class="navbar-brand" href="/home">TigerOutcomes</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/search">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/about">About Us</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
        </li>
    </ul>
        <div id="user">
            <a><span id="username"></span></a>
        </div>
    <button class="btn btn-outline" type="credentials"><a style="text-decoration: none; color: azure;" href="logoutcas">Logout</a></button>
    </div>
</div>
</nav>

<script>
    // Get user
    function getUser() {
        if (req.status === 200) {
            let info = JSON.parse(this.response);
            const usernameElement = document.getElementById('username');
            if (info.user) {
                usernameElement.textContent = info.user;
            } else if (info.error) {
                usernameElement.textContent = "Guest";
            }
        } else {
            console.error("Error fetching user:", req.status);
            const usernameElement = document.getElementById('username');
            usernameElement.textContent = "Guest";
        }
    }
    let req = new XMLHttpRequest();
    req.open("GET", "/get_user", true);
    req.onload = getUser;
    req.send();
</script>