<nav class="navbar navbar-expand-md navbar-light" style="background-color: #E77500;">
<div class="container-fluid">
    <a class="navbar-brand" href="https://tigeroutcomes.onrender.com/">TigerOutcomes</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/about">About Us</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/help">Help</a>
        </li>
    </ul>
    <button class="btn btn-outline" type="credentials"><a style="text-decoration: none; color: azure;" href="logoutcas">Logout</a></button>
    </div>
</div>
</nav>