<header class="sticky-top">
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #E77500;">
    <div class="container-fluid">
      <!-- replace link when hosted -->
      <a class="navbar-brand" href="tigeroutcomes.com">TigerOutcomes</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
        </ul>
        <button class="btn btn-outline" type="credentials"><a href="logoutcas">Logout</a></button>
      </div>
    </div>
  </nav>
</header>