<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>TigerOutcomes</title>
  </head>
  <body>
    <div class="modal" id="classModal" style="min-width:90%">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">Job Details</h4>
               <button class="btn-close" data-bs-dismiss="modal">
               </button>
            </div>
            <div class="modal-body" id="classModalBody">
               
            </div>
            <div class="modal-footer">
               <button class="btn btn-danger"
                  data-bs-dismiss="modal">
                  Close
               </button>
            </div>
         </div>
      </div>
      <br>
   </div>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-md navbar-light" style="background-color: #E77500;">
        <div class="container-fluid">
          <!-- replace link when hosted -->
          <a class="navbar-brand" href="https://tigeroutcomes.onrender.com/">TigerOutcomes</a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul>
              <button class="btn btn-outline" type="credentials"><a href="logoutcas">Logout</a></button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
          <div class="container-fluid d-flex">
            <span class="fs-5 fw-semibold" id="repeat"> Results for Course </span>
            <input class="form-control" list="datalistOptions" type="text" placeholder="" id="majorInput" style="text-align: center" aria-label="majorsearch">
            <datalist id="majorInput">
              <option value="African American Studies">
              <option value="American Studies">
              <option value="Anthropology">
              <option value="Architecture">
              <option value="Art and Archaeology">
              <option value="Astrophysical Sciences">
              <option value="Chemical and Biological Engineering">
              <option value="Chemistry">
              <option value="Civil and Environmental Engineering">
              <option value="Classics">
              <option value="Comparative Literature">
              <option value="Computer Science">
              <option value="East Asian Studies">
              <option value="Ecology and Evolutionary Biology">
              <option value="Economics">
              <option value="Electrical and Computer Engineering">
              <option value="English">
              <option value="French and Italian">
              <option value="Geosciences">
              <option value="German">
              <option value="History">
              <option value="Mathematics">
              <option value="Mechanical and Aerospace Engineering">
              <option value="Molecular Biology">
              <option value="Music">
              <option value="Near Eastern Studies">
              <option value="Neuroscience">
              <option value="Operations Research and Financial Engineering">
              <option value="Philosophy">
              <option value="Physics">
              <option value="Politics">
              <option value="Psychology">
              <option value="Public Policy">
              <option value="Religion">
              <option value="Slavic Languages and Literatures">
              <option value="Sociology">
              <option value="Spanish and Portuguese">
            </datalist>
          </div>  
          <div class="list-group list-group-flush border-bottom scrollarea">
            <div class="border" id="resultsDiv"></div>
          </div>
        </div>
      </div>
    </div>
    <footer class="py-3 bg-light sticky-bottom">
      <div class="container">
        <span class="text-muted">Created by the TigerOutcomes team.</span>
      </div>
    </footer>

    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
      crossorigin="anonymous">
    </script>

    <script src=
      "https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js">
    </script>
    
    <script>
      'use strict';

      function convertToHtml(jobs) {
        let template = `
          {{#jobs}}
            <div class="list-group-item list-group-item-action py-3 lh-tight">
              <div class="row align-items-center">
                <!-- Column for Jobs -->
                <a onclick="getJobResults('{{soc_code}}')" class="col text-decoration-none text-dark">
                  <div>
                    <strong class="mt-1 mb-1">{{ row }}</strong>
                  </div>
                </a>
                <!-- Column for Button -->
                <div class="col-auto">
                  <button type="button" onclick="favorite('{{row}}')" id="favorite{{soc_code}}" class="btn btn-outline-warning" data-bs-toggle="button">
                    ⭐️
                  </button>
                </div>
              </div>
            </div>
            <br>
          {{/jobs}}
        `;
        let map = {jobs: jobs};
        let html = Mustache.render(template, map);
        return html;
      }

      function getCardHtml(info) {
        info=getJobHtml(info)
        let template = 
        `
        <!-- Card Description -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text"> {{description}} </p>
          </div>
        </div>
        <!-- Card for Tasks & Skills -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tasks and Skills</h5>
            <p class="card-text"> {{skills}} </p>
          </div>
        </div>
        <!-- Card for Salary -->
        <!-- Might need to do some more here with data graphics -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Salary Range</h5>
            <p class="card-text"> {{salary}} </p>
          </div>
        </div>
        <!-- Card for Common Employers -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Common Employers</h5>
            <p class="card-text"> {{employer}} </p>
          </div>
        </div>
        `;
        let map = {
          description: info['descript'],
          skills: info['skills'],
          salary: info['salary'],
          employer: info['employer']
        }
        let html = Mustache.render(template, map);
        return html;
      }

      function getJobHtml(info) {
        let description = info['description']
        let skills = info['skills']
        let knowledge = info['knowledge']
        let wage = info['wage']
        description = Mustache.render("{{.}}", description)
        skills = Mustache.render("{{.}}", skills)
        wage = Mustache.render("{{.}}", wage)
        knowledge = Mustache.render("{{.}}", knowledge)
        let template = "Default"
        return {'descript': description, 'skills': skills, 'salary': wage, 'employer': template};
      }

      function handleSearchResponse() {
        if (this.status !== 200) {
          alert('Error: Failed to fetch data from server');
          return;
        }
        let jobs = JSON.parse(this.response);
        let html = convertToHtml(jobs);
        let resultsDiv = document.getElementById('resultsDiv');
        resultsDiv.innerHTML = html;
      }

      function handleJobResponse() {
        if (this.status !== 200) {
          alert('Error: Failed to fetch data from server');
          return;
        }
        let info = JSON.parse(this.response);
        let html = getCardHtml(info);
        let modal = document.getElementById('classModalBody');
        modal.innerHTML = html;
        let classModalNode = document.getElementById('classModal');
        let classModal = new bootstrap.Modal(classModalNode);
        classModal.show();
      }

      function handleFavorite() {
        if (this.status !== 200) {
          alert('Error: Failed to fetch data from server');
          return;
        }
        let info = JSON.parse(this.response);
        alert(info);
      }

      function handleError() {
        alert('Error: Failed to fetch data from server');
      }

      let request = null;

      function getSearchResults() {
        let majorInput = document.getElementById('majorInput');
        let major = majorInput.value;
        let encodedMajor = encodeURIComponent(major);
        let url = '/results?major=' + encodedMajor;

        let view = {"input": major}
        let html = Mustache.render("Results for {{input}}", view);
        let repeat = document.getElementById('repeat');
        repeat.innerHTML = html;

        if (request !== null)
          request.abort();
        request = new XMLHttpRequest();
        request.onload = handleSearchResponse;
        request.onerror = handleError;
        request.open('GET', url);
        request.send();
      }

      function getAllSearchResults() {
        let url = '/results?major=all';

        repeat.innerHTML = 'All jobs';

        if (request !== null)
          request.abort();
        request = new XMLHttpRequest();
        request.onload = handleSearchResponse;
        request.onerror = handleError;
        request.open('GET', url);
        request.send();
      }

      function getJobResults(soc_code) {
        let encodedSOC = encodeURIComponent(soc_code);
        let url = '/job?soc_code=' + encodedSOC;

        if (request !== null)
          request.abort();
        request = new XMLHttpRequest();
        request.onload = handleJobResponse;
        request.onerror = handleError;
        request.open('GET', url);
        request.send();
      }

      function favorite(soc_code, status='True') {
        let encodedSOC = encodeURIComponent(soc_code);
        let encodedStatus = encodeURIComponent(status);
        let url = '/update?soc_code=' + encodedSOC + 
                  '&status=' + encodedStatus;
        if (request !== null)
          request.abort();
        request = new XMLHttpRequest();
        request.onload = handleFavorite;
        request.onerror = handleError;
        request.open('GET', url);
        request.send();
      }

      let timer = null;

      function debouncedGetResults() {
        clearTimeout(timer);
        timer = setTimeout(getSearchResults, 500);
      }

      function setup() {
        let majorInput = document.getElementById('majorInput');
        majorInput.addEventListener('input', debouncedGetResults);
      }

      document.addEventListener('DOMContentLoaded', setup);
      document.addEventListener('DOMContentLoaded', getAllSearchResults);

   </script>
  </body>
</html>