<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>TigerOutcomes</title>
  </head>
  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-md navbar-light" style="background-color: #E77500;">
        <div class="container-fluid">
          <!-- replace link when hosted -->
          <a class="navbar-brand" href="https://tigeroutcomes.onrender.com/">TigerOutcomes</a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://tigeroutcomes.onrender.com/">Home</a>
              </li>
            </ul>
              <button class="btn btn-outline" type="credentials">Account</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
          <div class="container-fluid d-flex">
            <span class="fs-5 fw-semibold" id="repeat"> Results for Course </span>
            <input class="form-control" type="text" placeholder="English" id="majorInput" style="text-align: center" aria-label="majorsearch">
          </div>  
          <div class="list-group list-group-flush border-bottom scrollarea">
            <div class="border" id="resultsDiv"></div>
          </div>
        </div>
        <!-- Cards -->
        <div class="col-md-9 d-flex flex-column align-items-stretch flex-shrink-0 position=fixed" style="width:max-content;">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <!-- Card Description -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Description</h5>
                  <p class="card-text" id="descriptionDiv"></p>
                </div>
              </div>
            </div>
            <!-- Card for Tasks & Skills -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Tasks and Skills</h5>
                  <p class="card-text" id="taskDiv"></p>
                </div>
              </div>
            </div>
            <!-- Card for Salary -->
            <!-- Might need to do some more here with data graphics -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Salary Range</h5>
                  <p class="card-text" id="salaryDiv"></p>
                </div>
              </div>
            </div>
            <!-- Card for Common Employers -->
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Common Employers</h5>
                  <p class="card-text" id="employerDiv"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="py-3 bg-light sticky-bottom">
      <div class="container">
        <span class="text-muted">Created by the TigerOutcomes team.</span>
      </div>
    </footer>

    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
      crossorigin="anonymous">
    </script>

    <script src=
      "https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js">
    </script>
    
    <script>
      'use strict';
      
      function convertToHtml(jobs) {
        let template = `
          {{#jobs}}
            <div class="list-group-item list-group-item-action py-3 lh-tight">
              <div class="row align-items-center">
                <!-- Column for Jobs -->
                <div class="col">
                  <a onclick="getJobResults({{soc_code}})" class="text-decoration-none text-dark">
                    <strong class="mt-1 mb-1">{{ row }}</strong>
                  </a>
                </div>
                <!-- Column for Button -->
                <div class="col-auto">
                  <button type="button" id="favorite{{soc_code}}" class="btn btn-outline-warning" data-bs-toggle="button">
                    ⭐️
                  </button>
                </div>
              </div>
            </div>
            <br>
          {{/jobs}}
        `;
        let map = {jobs: jobs};
        let html = Mustache.render(template, map);
        return html;
      }

      function getJobHtml(info) {
        description = info[0][0]
        skills = info[1]['skills']
        knowledge = info[1]['knowledge']
        description = Mustache.render("{{info}}", description)
        skills = Mustache.render("{{info}}", skills)
        template = "Default"
        return (description, skills, template, template);
      }

      function handleSearchResponse() {
        if (this.status !== 200) {
          alert('Error: Failed to fetch data from server');
          return;
        }
        let jobs = JSON.parse(this.response);
        let html = convertToHtml(jobs);
        let resultsDiv = document.getElementById('resultsDiv');
        resultsDiv.innerHTML = html;
      }

      function handleJobResponse() {
        if (this.status !== 200) {
          alert('Error: Failed to fetch data from server');
          return;
        }
        let info = JSON.parse(this.response);
        let descript_html, task_html, salary_html, employer_html = getJobHtml(info);
        let descriptionDiv = document.getElementById('descriptionDiv');
        let taskDiv = document.getElementById('taskDiv');
        let salaryDiv = document.getElementById('salaryDiv');
        let employerDiv = document.getElementById('employerDiv');
        descriptionDiv.innerHTML = descript_html;
        taskDiv.innerHTML = task_html;
        salaryDiv.innerHTML = salary_html;
        employerDiv.innerHTML = employer_html;
      }

      function handleError() {
        alert('Error: Failed to fetch data from server');
      }

      let request = null;

      function getSearchResults() {
        let majorInput = document.getElementById('majorInput');
        let major = majorInput.value;
        let encodedMajor = encodeURIComponent(major);
        let url = '/results?major=' + encodedMajor;

        let view = {"input": major}
        let html = Mustache.render("Results for {{input}}", view);
        let repeat = document.getElementById('repeat');
        repeat.innerHTML = html;

        if (request !== null)
          request.abort();
        request = new XMLHttpRequest();
        request.onload = handleSearchResponse;
        request.onerror = handleError;
        request.open('GET', url);
        request.send();
      }

      function getJobResults(soc_code) {
        let encodedSOC = encodeURIComponent(soc_code);
        let url = '/job?soc_code=' + encodedSOC;

        if (request !== null)
          request.abort();
        request = new XMLHttpRequest();
        request.onload = handleJobResponse;
        request.onerror = handleError;
        request.open('GET', url);
        request.send();
      }

      let timer = null;

      function debouncedGetResults() {
        clearTimeout(timer);
        timer = setTimeout(getSearchResults, 500);
      }

      function setup() {
        let majorInput = document.getElementById('majorInput');
        majorInput.addEventListener('input', debouncedGetResults);
      }

      document.addEventListener('DOMContentLoaded', setup);

   </script>
  </body>
</html>